<h1><%= "#{@ratings.keys[1]} - #{@ratings.keys[2]}" %></h1>
<h3><%= @ratings.values[1] - @ratings.values[2] %></h3>

<h1><%= "#{@ratings.keys[0]} - #{@ratings.keys[1]}" %></h1>
<h3><%= @ratings.values[0] - @ratings.values[1] %></h3>